body {
	height: 100vh;
	width: 100%;
	background-color: black;
}
.card-body {
	padding: 0em 0em 0.2em 0em;
	background-color: transparent !important;
	/*height: 12vh;*/
}

.card {
	background-color: transparent !important;
	border: solid 0.5px white;
}

.background {
	background-image: url('./../assets/images/bgy3.jpg');
/*	position: fixed;*/
	height: 100vh;
	background-repeat: no-repeat;
 	 background-size: 100%;
}

.p-text {
	margin-bottom: 0.1em;
}

/*.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}*/


.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.first-row {
	margin-bottom: 2em;
	/*margin-top: 2em;*/
}

#logo {
	margin-top: 1em;
	margin-bottom: 2em;
	width: 15%;
}

#logo-splash {
	width: 30%;
	margin-top: 7% !important;
}

.modal-header {
	background-color: lightgreen !important;
	height: 5vh;
}

.modal-body {
	/*background: #060b17;*/
	background-image: url('./../assets/images/bgmodal.jpg') !important;
	background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: auto;
	border-radius: 0;
	box-shadow: box-shadow: 0px 0px transparent;
}

.modal, .modal-dialog, .modal-content, .modal-body, .modal-header {
	border-radius: 0;
	box-shadow: box-shadow: 0px 0px transparent; 
	border-width: 0.5px ;
	border-color: white !important;
}

.btn {
	border-radius: 0px !important;
	background-color: transparent;
	border: solid 0.5px lightgray;
}

.btn:hover {
	background-color: grey;
}

.card {
	border-radius: 0px;
}

p, label {
	color: lightgray;
}

select {
	width: 10em !important;
	border-radius: 0px !important;
}

/*.modal {
	top: 20%;
}*/

iframe {
	border: solid 0.5px white !important;
}

.card-text {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

h5, h6 {
	color: lightgray;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
}

#entourage-image {
	border: solid 0.01em white;
}

.card-img-top {
	width: 80%;
	padding-top: 1em;
}

#seatingModal {
	top: 0;
}

/*.seatingModalBody {
	overflow-y: scroll;
}*/

.map-text {
	margin-top: 1em;
}

.button-close {
	margin-top: 1em !important;
}

a:hover {
	text-decoration: none;
}

.card-text {
	font-size: 1.5em;
}

/*MOBILE*/
@media only screen and (max-width:480px) {
	.background {
		background-image: url('./../assets/images/bgy.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: auto;

}

#buttonz {
	margin-bottom: 4em !important;
}

#logo {
	margin-top: 2em;
	width: 50%;
}

#logo-splash {
	margin-top: 10em;
	width: 70%;
}

.card-space {
	margin-bottom: 2em;
}

/*.modal {
	top: 10%;
}*/

#logo-splash {
	/*width: 30%;*/
	margin-top: 50% !important;
}

}


@media  screen and (width: 1366px) and (height: 768px) {
    .card-space {
    	width: 14rem;
    }

    #logo {
	margin-top: 2.5em;
	margin-bottom: 2em;
	width: 15%;
}
}